<!-- SIMPLEVIEWER BASIC EMBED. Paste this into the body of the HTML page where you want the gallery to appear-->
<object width="100%" height="100%"><param name="movie" value="simpleviewer.swf"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="bgcolor" value="222222"></param><embed src="simpleviewer.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="100%" height="100%" bgcolor="222222"></embed></object>