 <form action="submit.php" method="post" enctype="multipart/form-data" name="emailForm" class="form-validate" id="emailForm">
              <div class="contact_email">
                <p>
                  <label for="contact_name"> &nbsp;Enter your Name: </label>
                  <br />
                  <input type="text" name="name" id="contact_name" size="30" class="inputbox" value="" />
                  <br />
                  <label id="contact_emailmsg" for="contact_email"> &nbsp;E-mail address: </label>
                  <br />
                  <input type="text" id="contact_email" name="email" size="30" value="" class="inputbox required validate-email" maxlength="100" />
                  <br />
                  <label for="contact_subject"> &nbsp;Message Subject: </label>
                  <br />
                  <input type="text" name="subject" id="contact_subject" size="30" class="inputbox" value="" />
                  <br />
                  <br />
                  <label id="contact_textmsg" for="contact_text"> &nbsp;Enter your Message: </label>
                  <br />
                  <textarea cols="40" rows="10" name="text" id="contact_text" class="inputbox required"></textarea>
                  <br />
                  <input type="checkbox" name="email_copy" id="contact_email_copy" value="1"  />
                  <label for="contact_email_copy"> E-mail a copy of this message to your own address. </label>
                </p>
                <p>
                  <label>Image 1:
                    <input type="file" name="images[]" id="file1" />
                  </label>
                </p>
                <p>
                  <label>Image 2:
                    <input type="file" name="images[]" id="file2" />
                  </label>
                </p>
                <p>
                  <label>Image 3:
                    <input type="file" name="images[]" id="file3" />
                  </label>
                  <br />
                </p>
                <button class="button validate" type="submit">Send</button>
              </div>
            </form>